version: '3.7'

services:

  limesurvey:
    build:
      context: .
    entrypoint: ["/container-tools/wait-for-it.sh -h mariadb-ls.${INTERNAL_DOMAIN:-internal.test} -p 3306 -t 20"]
    command: ["apache2-foreground"]
    stdin_open: true
    tty: true
    environment:
      DEBUG: true
      SSO_HOST: ${KEYCLOAK_SERVER_HOST:-sso.external.test}
      DB_HOST: mariadb-ls.${INTERNAL_DOMAIN:-internal.test}
      DB_NAME: "limesurvey"
      DB_USERNAME: "limesurvey"
      DB_PASSWORD: "password"
      ADMIN_USER: "admin"
      ADMIN_NAME: "Lime Administrator"
      ADMIN_EMAIL: lime-dev@limesurvey.${EXTERNAL_DOMAIN:-external.test}
      ADMIN_PASSWORD: ${SIMVA_LIMESURVEY_ADMIN_PASSWORD:-secret}
      PUBLIC_URL: "https://limesurvey.${EXTERNAL_DOMAIN:-external.test}:443"
      BASE_URL: "https://limesurvey.${EXTERNAL_DOMAIN:-external.test}:443"
      MSMTP_HOST: "mail.sso.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      MSMTP_FROM: "no-reply@limesurvey.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
    depends_on:
      - mariadb-ls
    volumes:
      - "./overlay/var/tmp/patches/limesurvey:/var/tmp/patches/limesurvey"
      - "./traefik-data/ca:/etc/simplesamlphp/ca"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.limesurvey.loadbalancer.server.port=80"
      - "traefik.http.routers.limesurvey.rule=Host(`limesurvey.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.limesurvey.entrypoints=websecure"
      - "traefik.http.routers.limesurvey.tls=true"

  mariadb-ls:
    image: mariadb:10.4.13
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=limesurvey
      - MYSQL_USER=limesurvey
      - MYSQL_PASSWORD=password
# https://github.com/docker-library/mariadb/issues/261
# https://github.com/docker-library/mariadb/issues/262
      - MYSQL_INITDB_SKIP_TZINFO=true
    hostname: mariadb-ls.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - mariadb-ls.${INTERNAL_DOMAIN:-internal.test}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.0.2
    environment:
      PMA_HOSTS: "mariadb-ls.${INTERNAL_DOMAIN:-internal.test},mariadb-kc.${INTERNAL_DOMAIN:-internal.test}"
    depends_on:
      - mariadb-ls
    hostname: phpmyadmin.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - phpmyadmin.limesurvey.${INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.ls-phpmyadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.ls-phpmyadmin.rule=Host(`phpmyadmin.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.ls-phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.ls-phpmyadmin.tls=true"

  traefik:
    image: traefik:2.2.11
    entrypoint:
      - '/bin/sh'
      - '-c'
      - |
        if [[ ! -e "$${CAROOT}/rootCA.pem" ]]; then
          if [[ ! -d "$${CAROOT}" ]]; then
            mkdir -p "$${CAROOT}";
          fi;

          # mkcert installation
          wget -O /tmp/mkcert -q $${MKCERT_DOWNLOAD_URL};
          echo "$${MKCERT_SHA256}  /tmp/mkcert" | sha256sum -c -w -s -;
          mv /tmp/mkcert /usr/local/bin;
          chmod +x /usr/local/bin/mkcert;

          # generate ca
          mkdir -p $${CAROOT};
          mkcert --install;

          echo "Development CA certificate, beware !";
          cat $$(mkcert -CAROOT)/rootCA.pem;
        fi;

        if [[ ! -e "/etc/traefik/ssl/traefik-key.pem" ]]; then
          if [[ ! -d "/etc/traefik/ssl" ]]; then
            # generate "localhost certificate"
            mkdir -p /etc/traefik/ssl;
          fi;

          mkcert -cert-file /etc/traefik/ssl/traefik.pem -key-file /etc/traefik/ssl/traefik-key.pem "localhost" "127.0.0.1" "::1";
          cp /etc/traefik/ssl/traefik.pem /etc/traefik/ssl/traefik-fullchain.pem;
          cat $$(mkcert -CAROOT)/rootCA.pem >> /etc/traefik/ssl/traefik-fullchain.pem;
        fi;

        mkdir -p /etc/traefik/conf/dynamic-config;
        cat << EOF > /etc/traefik/conf/dynamic-config/file-provider.toml
        [[tls.certificates]]
          certFile = "/etc/traefik/ssl/traefik-fullchain.pem"
          keyFile = "/etc/traefik/ssl/traefik-key.pem"
          stores = ["default"]

        [tls.stores]
          [tls.stores.default]
            [tls.stores.default.defaultCertificate]
              certFile = "/etc/traefik/ssl/traefik-fullchain.pem"
              keyFile  = "/etc/traefik/ssl/traefik-key.pem"

        [tls.options]
          [tls.options.default]
            minVersion = "VersionTLS12"
          [tls.options.myTLSOptions]
            minVersion = "VersionTLS13"

        [http.middlewares]
          [http.middlewares.dashboardAuth.basicAuth]
            # admin:password
            users = [
              "admin:\$$apr1\$$97xk9Kkr\$$gavbmzhrI6uOVYNOfYByQ/"
            ]
          [http.middlewares.redirect-to-https.redirectScheme]
            scheme = "https"
            permanent = true
        EOF
        exec /entrypoint.sh "$$@"
    command:
      - "--"
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --global.checkNewVersion=false
      - --global.sendAnonymousUsage=false
      - --serverstransport.rootcas=$${CAROOT}/rootCA.pem
      - --api.dashboard=true
      - --providers.file.directory=/etc/traefik/conf/dynamic-config
      - --providers.file.watch=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.watch=true
      - --providers.docker.defaultRule=Host(`{{ .Name }}.${EXTERNAL_DOMAIN:-external.test}`)
      - --log.level=INFO
      - --log.format=json
    environment:
      - MKCERT_VERSION=${MKCERT_VERSION:-v1.4.1}
      - MKCERT_DOWNLOAD_URL=https://github.com/FiloSottile/mkcert/releases/download/${MKCERT_VERSION:-v1.4.1}/mkcert-${MKCERT_VERSION:-v1.4.1}-linux-amd64
      - MKCERT_SHA256=${MKCERT_SHA256SUM:-e116543bfabb4d88010dda8a551a5d01abbdf9b4f2c949c044b862365038f632}
      - CAROOT=/etc/traefik/ca
    volumes:
      - "./traefik-data/ca:/etc/traefik/ca"
      - "./traefik-data/ssl:/etc/traefik/ssl"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    hostname: "traefik.${INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "traefik.${INTERNAL_DOMAIN:-internal.test}"
          - "traefik.${EXTERNAL_DOMAIN:-external.test}"
          - "keycloak.${EXTERNAL_DOMAIN:-external.test}"
          - "limesurvey.${EXTERNAL_DOMAIN:-external.test}"
          - "phpmyadmin.${EXTERNAL_DOMAIN:-external.test}"
          - "mail.${EXTERNAL_DOMAIN:-external.test}"
    labels:
      - "traefik.enable=true"
      # Global redirect http to https
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https@file"
      # Access API enpoint through traefik itself
      - "traefik.http.services.api.loadbalancer.server.port=8080"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.options=myTLSOptions@file"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=dashboardAuth@file"

  mail:
    image: maildev/maildev:1.1.0
    environment:
      - MAILDEV_SMTP_PORT=25
      - MAILDEV_WEB_PORT=80
    hostname: mail.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "mail.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.mail.loadbalancer.server.port=80"
      - "traefik.http.routers.mail.rule=Host(`mail.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.mail.entrypoints=websecure"
      - "traefik.http.routers.mail.tls=true"
