version: '3.7'

services:
  limesurvey:
    image: martialblog/limesurvey:6-apache
    entrypoint: /bin/bash
    stdin_open: true
    tty: true
    environment:
      PUBLIC_URL: "https://limesurvey.${EXTERNAL_DOMAIN:-external.test}:443"
      BASE_URL: "https://limesurvey.${EXTERNAL_DOMAIN:-external.test}:443"
      DB_HOST: mariadb-ls.${INTERNAL_DOMAIN:-internal.test}
      DB_NAME: limesurvey
      DB_USERNAME: limesurvey
      DB_PASSWORD: password
      ADMIN_USER: admin
      ADMIN_PASSWORD: password2
      ADMIN_NAME: Lime Administrator
      ADMIN_EMAIL: lime-dev@limesurvey.${EXTERNAL_DOMAIN:-external.test}
      LIMESURVEY_SAML_PLUGIN_AUTH_SOURCE: "sp-test"
      LIMESURVEY_SAML_PLUGIN_UID_MAPPING: "username"
      DEBUG: true
      SIMPLESAMLPHP_PATH: "/simplesamlphp"
      SIMPLESAMLPHP_SESSION_COOKIE_PATH: "/"
      SIMPLESAMLPHP_ADMIN_PASSWORD: "password"
      SIMPLESAMLPHP_DEBUG_SAML: "true"
      SIMPLESAMLPHP_LOG_LEVEL: "DEBUG"
      SIMPLESAMLPHP_ADMIN_PROTECT_INDEX_PAGE: "true"
      SIMPLESAMLPHP_ENABLE_DEFAULT_VHOST: "true"
      SIMPLESAMLPHP_INTERNAL_PROXY_HOSTNAME: "traefik.${INTERNAL_DOMAIN:-internal.test}"
      SIMPLESAMLPHP_SP_CERT_SUBJ: "/C=ES/ST=Madrid/L=Madrid/O=Universidad Complutense de Madrid/OU=e-UCM/CN=limesurvey.${INTERNAL_DOMAIN:-internal.test}"
      SIMPLESAMLPHP_SP_NAME: "sp-test"
      SIMPLESAMLPHP_SIGN_AUTHN_REQUESTS: "true"
      SIMPLESAMLPHP_SIGN_LOGOUT_REQUESTS: "true"
      SIMPLESAMLPHP_SIGN_REDIRECTS_REQUESTS: "true"
      SIMPLESAMLPHP_ENCRYPTED_ASSERTIONS: "true"
      SIMPLESAMLPHP_SP_IDP_ID: "https://sso.${EXTERNAL_DOMAIN:-external.test}/auth/realms/master"
      SIMPLESAMLPHP_SP_IDP_METADATA_URL: "https://sso.${EXTERNAL_DOMAIN:-external.test}/auth/realms/master/protocol/saml/descriptor"
      SIMPLESAMLPHP_CA_FILE: "/etc/simplesamlphp/ca/rootCA.pem"
      MSMTP_HOST: "mail.${INTERNAL_DOMAIN:-internal.test}"
      MSMTP_FROM: "no-reply@limesurvey.${EXTERNAL_DOMAIN:-external.test}"
    depends_on:
      - mariadb-ls
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - limesurvey-config-php:/var/www/html/application/config/config.php
      - limesurvey-security-php:/var/www/html/application/config/security.php
      - limesurvey-plugins:/var/www/html/plugins
      - limesurvey-uploads:/var/www/html/upload
      - ./data/traefik/ca:/etc/simplesamlphp/ca
    restart: unless-stopped
    healthcheck:
      test: "curl -sS http://localhost:8080 || exit 1"
      interval: 60s
      timeout: 20s
      retries: 3
    hostname: limesurvey.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - limesurvey.${INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.limesurvey.loadbalancer.server.port=8080"
      - "traefik.http.routers.limesurvey.rule=Host(`limesurvey.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.limesurvey.entrypoints=websecure"
      - "traefik.http.routers.limesurvey.tls=true"

  mariadb-ls:
    image: mariadb:10.11.9
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - limesurvey-mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=limesurvey
      - MYSQL_USER=limesurvey
      - MYSQL_PASSWORD=password
    hostname: mariadb-ls.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - mariadb-ls.${INTERNAL_DOMAIN:-internal.test}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.0.2
    environment:
      PMA_HOSTS: "mariadb-ls.${INTERNAL_DOMAIN:-internal.test},mariadb-kc.${INTERNAL_DOMAIN:-internal.test}"
    depends_on:
      - mariadb-ls
    hostname: phpmyadmin.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - phpmyadmin.limesurvey.${INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.ls-phpmyadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.ls-phpmyadmin.rule=Host(`phpmyadmin.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.ls-phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.ls-phpmyadmin.tls=true"

  traefik:
    image: traefik:3.1.7
    entrypoint: /etc/entrypoint/entrypoint.sh
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --global.checkNewVersion=false
      - --global.sendAnonymousUsage=false
      - --serverstransport.rootcas=$${CAROOT}/rootCA.pem
      - --api.dashboard=true
      - --providers.file.directory=/etc/traefik/conf/dynamic-config
      - --providers.file.watch=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.watch=true
      - --providers.docker.defaultRule=Host(`{{ .Name }}.${EXTERNAL_DOMAIN:-external.test}`)
      - --log.level=INFO
      - --log.format=json
    environment:
      - CAROOT=${CAROOT:-/etc/traefik/ssl/ca}
      - DNS_SERVERS=${DNS_SERVERS:-8.8.8.8 8.8.4.4}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik:/etc/entrypoint"
      - traefik:/etc/traefik
      - simva-dev:/simva
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    hostname: "traefik.${INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "traefik.${EXTERNAL_DOMAIN:-external.test}"
          - "sso.${EXTERNAL_DOMAIN:-external.test}"
          - "limesurvey.${EXTERNAL_DOMAIN:-external.test}"
          - "mail.${EXTERNAL_DOMAIN:-external.test}"
          - "traefik.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      # Global redirect http to https
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https@file"
      # Access API enpoint through traefik itself
      - "traefik.http.services.api.loadbalancer.server.port=8080"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.options=myTLSOptions@file"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=dashboardAuth@file"

  mail:
    image: maildev/maildev:1.1.0
    environment:
      - MAILDEV_SMTP_PORT=25
      - MAILDEV_WEB_PORT=80
    hostname: mail.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "mail.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.mail.loadbalancer.server.port=80"
      - "traefik.http.routers.mail.rule=Host(`mail.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.mail.entrypoints=websecure"
      - "traefik.http.routers.mail.tls=true"

  whoami:
    image: traefik/whoami
    hostname: whoami.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "whoami.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami.rule=Host(`whoami.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"

  dns:
    image: coredns/coredns:1.11.4
    command: -conf /simva/coredns/Corefile
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - simva-dev:/simva
    ports:
      - "${DNS_BIND_IP:-127.1.1.1}:53:53/udp"
    hostname: dns.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "dns.${INTERNAL_DOMAIN:-internal.test}"
          
volumes:
  traefik:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/traefik
  limesurvey-mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/limesurvey/mariadb
  limesurvey-uploads:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/limesurvey/uploads
  limesurvey-plugins:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/limesurvey/plugins
  limesurvey-config-php:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/limesurvey/config.php
  limesurvey-security-php:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/limesurvey/security.php
  simva-dev:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/simva