version: '3.7'

services:

  limesurvey:
    build:
      context: .
    entrypoint: /bin/bash
#    command: /bin/bash
    stdin_open: true
    tty: true
    environment:
      LIMESURVEY_DB_HOST: "mariadb-ls.${INTERNAL_DOMAIN:-internal.test}"
      LIMESURVEY_DB_USER: "limesurvey"
      LIMESURVEY_DB_PASSWORD: "password"
      LIMESURVEY_ADMIN_USER: "admin"
      LIMESURVEY_ADMIN_PASSWORD: "password2"
      LIMESURVEY_ADMIN_NAME: Lime Administrator
      LIMESURVEY_ADMIN_EMAIL: lime-dev@limesurvey.${EXTERNAL_DOMAIN:-external.test}
      LIMESURVEY_SAML_PLUGIN_AUTH_SOURCE: "sp-test"
      LIMESURVEY_SAML_PLUGIN_UID_MAPPING: "username"
      DEBUG: "true"
      SIMPLESAMLPHP_PATH: "/simplesamlphp"
      SIMPLESAMLPHP_SESSION_COOKIE_PATH: "/"
      SIMPLESAMLPHP_ADMIN_PASSWORD: "password"
      SIMPLESAMLPHP_DEBUG_SAML: "true"
      SIMPLESAMLPHP_LOG_LEVEL: "DEBUG"
      SIMPLESAMLPHP_ADMIN_PROTECT_INDEX_PAGE: "true"
      SIMPLESAMLPHP_ENABLE_DEFAULT_VHOST: "true"
      SIMPLESAMLPHP_INTERNAL_PROXY_HOSTNAME: "traefik.${INTERNAL_DOMAIN:-internal.test}"
      SIMPLESAMLPHP_SP_CERT_SUBJ: "/C=ES/ST=Madrid/L=Madrid/O=Universidad Complutense de Madrid/OU=e-UCM/CN=limesurvey.${INTERNAL_DOMAIN:-internal.test}"
      SIMPLESAMLPHP_SP_NAME: "sp-test"
      SIMPLESAMLPHP_SIGN_AUTHN_REQUESTS: "true"
      SIMPLESAMLPHP_SIGN_LOGOUT_REQUESTS: "true"
      SIMPLESAMLPHP_SIGN_REDIRECTS_REQUESTS: "true"
      SIMPLESAMLPHP_ENCRYPTED_ASSERTIONS: "true"
      SIMPLESAMLPHP_SP_IDP_ID: "https://keycloak.${EXTERNAL_DOMAIN:-external.test}/auth/realms/master"
      SIMPLESAMLPHP_SP_IDP_METADATA_URL: "https://keycloak.${EXTERNAL_DOMAIN:-external.test}/auth/realms/master/protocol/saml/descriptor"
      SIMPLESAMLPHP_CA_FILE: "/etc/simplesamlphp/ca/rootCA.pem"
      MSMTP_HOST: "mail.${INTERNAL_DOMAIN:-internal.test}"
      MSMTP_FROM: "no-reply@limesurvey.${EXTERNAL_DOMAIN:-external.test}"
    depends_on:
      - mariadb-ls
    volumes:
      - "./overlay/etc/entrypoint.d/20-limesurvey.sh:/etc/entrypoint.d/20-limesurvey.sh"
      - "./overlay/etc/entrypoint.d/30-limesurvey-saml.sh:/etc/entrypoint.d/30-limesurvey-saml.sh"
      - "./overlay/etc/server.d/20-limesurvey.sh:/etc/server.d/20-limesurvey.sh"
      - "./overlay/etc/server.d/30-limesurvey-saml.sh:/etc/server.d/30-limesurvey-saml.sh"
      - "./overlay/var/tmp/patches/limesurvey:/var/tmp/patches/limesurvey"
      - "./traefik-data/ca:/etc/simplesamlphp/ca"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.limesurvey.loadbalancer.server.port=80"
      - "traefik.http.routers.limesurvey.rule=Host(`limesurvey.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.limesurvey.entrypoints=websecure"
      - "traefik.http.routers.limesurvey.tls=true"

  mariadb-ls:
    image: mariadb:10.4.13
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=limesurvey
      - MYSQL_USER=limesurvey
      - MYSQL_PASSWORD=password
# https://github.com/docker-library/mariadb/issues/261
# https://github.com/docker-library/mariadb/issues/262
      - MYSQL_INITDB_SKIP_TZINFO=true
    hostname: mariadb-ls.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - mariadb-ls.${INTERNAL_DOMAIN:-internal.test}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.0.2
    environment:
      PMA_HOSTS: "mariadb-ls.${INTERNAL_DOMAIN:-internal.test},mariadb-kc.${INTERNAL_DOMAIN:-internal.test}"
    depends_on:
      - mariadb-ls
    hostname: phpmyadmin.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - phpmyadmin.limesurvey.${INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.ls-phpmyadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.ls-phpmyadmin.rule=Host(`phpmyadmin.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.ls-phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.ls-phpmyadmin.tls=true"

  traefik:
    image: traefik:3.1.7
    entrypoint: /etc/entrypoint/entrypoint.sh
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --global.checkNewVersion=false
      - --global.sendAnonymousUsage=false
      - --serverstransport.rootcas=$${CAROOT}/rootCA.pem
      - --api.dashboard=true
      - --providers.file.directory=/etc/traefik/conf/dynamic-config
      - --providers.file.watch=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.watch=true
      - --providers.docker.defaultRule=Host(`{{ .Name }}.${EXTERNAL_DOMAIN:-external.test}`)
      - --log.level=INFO
      - --log.format=json
    environment:
      - CAROOT=${CAROOT:-/etc/traefik/ssl/ca}
      - DNS_SERVERS=${DNS_SERVERS:-8.8.8.8 8.8.4.4}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik:/etc/entrypoint"
      - traefik:/etc/traefik
      - development:/development
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    hostname: "traefik.${INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "traefik.${EXTERNAL_DOMAIN:-external.test}"
          - "sso.${EXTERNAL_DOMAIN:-external.test}"
          - "limesurvey.${EXTERNAL_DOMAIN:-external.test}"
          - "mail.${EXTERNAL_DOMAIN:-external.test}"
          - "traefik.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      # Global redirect http to https
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https@file"
      # Access API enpoint through traefik itself
      - "traefik.http.services.api.loadbalancer.server.port=8080"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.options=myTLSOptions@file"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=dashboardAuth@file"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    entrypoint:
      - '/bin/bash'
      - '-c'
      - |
        find /development/ext -type f -iname '*.jar' -exec cp {} /opt/keycloak/providers \; ;
        /opt/keycloak/bin/kc.sh build && /opt/keycloak/bin/kc.sh start --optimized --verbose
    environment:
      # Database
      - KC_DB=mariadb
      - KC_DB_URL_HOST=mariadb.${INTERNAL_DOMAIN:-internal.test}
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USER=keycloak
      - KC_DB_PASSWORD=password
      # Master Realm + Admin user
      - KC_REALM_NAME=master
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=password
      # Hostname
      - KC_HOSTNAME=sso.${EXTERNAL_DOMAIN:-external.test}
      - KC_HOSTNAME_STRICT_HTTPS=true
      - KC_HOSTNAME_STRICT=false
      # HTTP
      - KC_HTTP_ENABLED=true
      - KC_HTTP_HOST=0.0.0.0
      - HTTP_ADDRESS_FORWARDING=true
      # PROXY
      - KC_PROXY=edge
      - KC_PROXY_HEADERS=xforwarded
      - PROXY_ADDRESS_FORWARDING=true
      # Log level
      - KC_LOG_LEVEL=info
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./keycloak:/scripts/keycloak/:ro
      - development:/development
    depends_on:
      - mariadb
      - traefik
    hostname: sso.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - sso.${INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.sso.loadbalancer.server.port=8080"
      - "traefik.http.routers.sso.rule=Host(`sso.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.sso.entrypoints=websecure"
      - "traefik.http.routers.sso.tls=true"

  mariadb:
    image: mariadb:10.11.9
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - keycloak-mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=keycloak
      - MYSQL_USER=keycloak
      - MYSQL_PASSWORD=password
    hostname: mariadb.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - mariadb.${INTERNAL_DOMAIN:-internal.test}

  mail:
    image: maildev/maildev:2.1.0
    # Fix: https://github.com/maildev/maildev/issues/484#issuecomment-2015490293
    healthcheck:
      test: 'wget -O - http://127.0.0.1:$${MAILDEV_WEB_PORT}$${MAILDEV_BASE_PATHNAME}/healthz || exit 1'
    hostname: mail.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "mail.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.mail.loadbalancer.server.port=1080"
      - "traefik.http.routers.mail.rule=Host(`mail.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.mail.entrypoints=websecure"
      - "traefik.http.routers.mail.tls=true"

  whoami:
    image: traefik/whoami
    hostname: whoami.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "whoami.${INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami.rule=Host(`whoami.${EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls=true"

  dns:
    image: coredns/coredns:1.11.4
    command: -conf /development/coredns/Corefile
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - development:/development
    ports:
      - "${DNS_BIND_IP:-127.1.1.1}:53:53/udp"
    hostname: dns.${INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - "dns.${INTERNAL_DOMAIN:-internal.test}"

volumes:
  traefik:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/traefik
  development:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/development
  keycloak-mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/keycloak/mariadb
  apache2-etc:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/apache2
  simplesamlphp-etc:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data/simplesamlphp
